stage_1_sample_submission.csv
stage_1_train.csv
submission.csv
submission20.csv
test_metadata.csv
train_metadata.csv

running
stage_1_test_images
stage_1_train_images

notebooks/.ipynb_checkpoints
.ipynb_checkpoints